<div id="container" class="width">
    <a href="/"><img src="assets/img/logo.jpg" width="200" /></a>
    <h1>Students</h1>

    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>#</th>
                <th align="left">Name</th>
                <th align="left">Student Number</th>
                <th align="left">Password</th>
                <th align="left">Address</th>
                <th align="left">Phone Number</th>
                <th align="left">Email</th>
                <th align="left">Program</th>
                <th>Select all courses</th>
                <th>Edit</th>
                <th>Drop</th>
            </tr>

            <!--<tr *ngIf="students && students.length === 0">
                <td colspan="11" align="center">No students registered at the moment</td>
            </tr>

            <tr *ngFor="let student of students">
                <td>{{ i + 1 }}</td>
                <td>{{ student.firstName }} {{ student.lastName }}</td>
                <td>{{ student.creator.fullName }}</td>
                <td>{{ student.address }}, {{ student.city }}</td>
                <td>{{ student.created }}</td>
                <td>{{ student.created }}</td>
                <td>{{ student.created }}</td>
                <td>{{ student.created }}</td>
                <td align="center"><a class="bold" [routerLink]="['/students', student._id]">By this student</a></td>
                <td align="center"><a [routerLink]="['/students', student._id]"><img src="assets/img/edit-icon.png" width="25" /></a></td>
                <td align="center"><a [routerLink]="['/students', student._id]"><img src="assets/img/delete-icon.png" width="25" /></a></td>
            </tr>-->

            <tr>
                <td align="center">1</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td align="center"><a class="bold">By this student</a></td>
                <td align="center"><a><img src="assets/img/edit-icon.png" width="25" /></a></td>
                <td align="center"><a><img src="assets/img/delete-icon.png" width="25" /></a></td>
            </tr>
            
            <tr>
                <td align="center">2</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td align="center"><a class="bold">By this student</a></td>
                <td align="center"><a><img src="assets/img/edit-icon.png" width="25" /></a></td>
                <td align="center"><a><img src="assets/img/delete-icon.png" width="25" /></a></td>
            </tr>
        </table>

        <br /><br />
        <a [routerLink]="['/']" class="fl"><button>Back</button></a>
        <a [routerLink]="['/students/create']" class="fl margin-left"><button>Add student</button></a>

        <div class="clear"></div>
    </div>
</div>