<div id="container" class="width">
    <a href="/"><img src="assets/img/logo.jpg" width="200" /></a>
    <h1>Courses</h1>

    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>#</th>
                <th align="left">Course Code</th>
                <th align="left">Course Name</th>
                <th align="left">Section</th>
                <th align="left">Semester</th>
                <th>Select all students</th>
                <th>Edit</th>
                <th>Drop</th>
            </tr>

            <!--<tr *ngIf="courses && courses.length === 0">
                <td colspan="8" align="center">No courses registered at the moment</td>
            </tr>

            <tr *ngFor="let course of courses">
                <td>{{ i + 1 }}</td>
                <td>{{ course.created }}</td>
                <td>{{ course.creator.fullName }}</td>
                <td>{{ course.content }}</td>
                <td>{{ course.created }}</td>
                <td align="center"><a class="bold" [routerLink]="['/courses', course._id]">By this course</a></td>
                <td align="center"><a [routerLink]="['/courses', course._id]"><img src="assets/img/edit-icon.png" width="25" /></a></td>
                <td align="center"><a [routerLink]="['/courses', course._id]"><img src="assets/img/delete-icon.png" width="25" /></a></td>
            </tr>-->

            <tr>
                <td align="center">1</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td align="center"><a class="bold">By this course</a></td>
                <td align="center"><a><img src="assets/img/edit-icon.png" width="25" /></a></td>
                <td align="center"><a><img src="assets/img/delete-icon.png" width="25" /></a></td>
            </tr>
            
            <tr>
                <td align="center">2</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td align="center"><a class="bold">By this course</a></td>
                <td align="center"><a><img src="assets/img/edit-icon.png" width="25" /></a></td>
                <td align="center"><a><img src="assets/img/delete-icon.png" width="25" /></a></td>
            </tr>
        </table>

        <br /><br />
        <a [routerLink]="['/']" class="fl"><button>Back</button></a>
        <a [routerLink]="['/courses/create']" class="fl margin-left"><button>Add course</button></a>

        <div class="clear"></div>
    </div>
</div>